.root {
    -fx-font-family: "Arial";
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

.table-cell{
	-fx-text-fill: black;
}

.label {
    -fx-font-size: 14px;
}

.button-bar {
    -fx-background-color: lightgray;
}