.root {
    -fx-font-family: "Arial";
}


.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

.table-cell{
	-fx-text-fill: black;
}

.label {
    -fx-font-size: 14px;
}

.button-bar {
    -fx-background-color: lightgray;
}

/* Exercise Card */
.exercise-card {
    -fx-background-color: #d6cbed; /* Light purple */
    -fx-padding: 10;

    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.exercise-title {
    -fx-font-size: 18px;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0; /* Makes the scrollbar invisible */
    -fx-pref-height: 0; /* Ensures it doesn't take space */
}

.reps-field, .weight-field {
    -fx-font-size: 16px;
    -fx-padding: 5;
}

.delete-set-button {
    -fx-font-size: 14px;
    -fx-background-color: #ff6666;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.add-reps-button {
    -fx-background-color: #9078d3; /* Purple button */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}

.add-reps-button:hover {
    -fx-background-color: #7857c5; /* Darker purple on hover */
}

/* Bottom Toolbar */
.toolbar {
    -fx-background-color: #d6cbed;
    -fx-padding: 10;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.toolbar-button {
    -fx-background-color: #7857c5; /* Purple */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.toolbar-button:hover {
    -fx-background-color: #5637a5; /* Darker purple */
}

.timer-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #4e4b6f; /* Darker purple */
}


